<header class="flex flex-col items-center justify-center text-center min-h-[60vh] md:min-h-[80vh]">
  <pre
    class="block md:hidden text-3xl font-bold bg-linear-to-r from-teal-300 via-emerald-400 to-sky-400 bg-clip-text text-transparent anim-fade-in select-none leading-tight"
    aria-hidden="true"
  >
    __       __
   /\ \     /\ \
  _\_\ \   _\_\ \
 /\_____\ /\_____\
 \/_____/ \/_____/
      </pre
  >

  <pre
    class="hidden md:block text-lg md:text-2xl font-bold bg-linear-to-r from-teal-300 via-emerald-400 to-sky-400 bg-clip-text text-transparent anim-fade-in select-none leading-tight"
    aria-hidden="true"
  >
  __     ______     ______   ______   ______     ______     __  __
  /\ \   /\  ___\   /\  ___\ /\  ___\ /\  == \   /\  ___\   /\ \_\ \
  _\_\ \  \ \  __\   \ \  __\ \ \  __\ \ \  __<   \ \  __\   \ \____ \
 /\_____\  \ \_____\  \ \_\    \ \_\    \ \_\ \_\  \ \_____\  \/\_____\
 \/_____/   \/_____/   \/_/     \/_/     \/_/ /_/   \/_____/   \/_____/
     __     __     __    __     ______     __   __     ______     ______
     /\ \   /\ \   /\ "-./  \   /\  ___\   /\ "-.\ \   /\  ___\   /\___  \
     _\_\ \  \ \ \  \ \ \-./\ \  \ \  __\   \ \ \-.  \  \ \  __\   \/_/  /__
     /\_____\  \ \_\  \ \_\ \ \_\  \ \_____\  \ \_\\"\_\  \ \_____\   /\_____\
     \/_____/   \/_/   \/_/  \/_/   \/_____/   \/_/ \/_/   \/_____/   \/_____/

  </pre>

  <h1 class="text-2xl md:text-4xl font-bold text-gray-100 anim-fade-in-delay1">Jeffrey Jimenez</h1>
  <p class="text-lg md:text-xl text-gray-400 mt-4 anim-fade-in-delay2">
    Full-Stack Developer | Angular & NestJS
  </p>
</header>
